@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");



* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.navbar {
    background-color: #1A3C40;
    height: 90px;
}
.container {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
}

.button {
    width: 233px;
    height: 34px;
    background-color: #417D7A;
    border-radius: 20px;
    filter: drop-shadow(0px 2px 2px black);
}

.button_search {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.button_cari {
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 2px;
}

.container-1 {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search{
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;    
  }

.container-1 .magnifier_icon{
    position: absolute;
    /* top: 50%; */
    margin-left: 10px;
    margin-top: 5px;
    /* z-index: 1; */
    /* color: #4f5b66; */
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }

.destination_img {
    width: auto;
    height: auto;
    margin-right: 24px;
    margin-bottom: -12px;
}

.navbar-nav{
    margin-right: -180px;
}
.nav-link {
    font-size: 18px;
    margin-right: 15px;
}

#button {
    background-color: #417D7A;
    border: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}

/* maps styling */
.text-center {
    text-align: center;
}

#map {
    width: 100%;
    height: 500px;
}

section {
    min-height: 400px;
}

.destination {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 36px;
    top: 620px;
    font-weight: 500;
    font-size: 30px;
    color: #1A3C40;
    line-height: 36px;
}

.destination hr {
    width: 250px;
    margin-left: 20px;
    border-top: 4px solid #417D7A;
    border-radius: 2px;
}

/* CARD */
/* .slide-content {
    margin: 0 25px;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: grey;
}

.card {
    position: absolute;
    background:#EDE6DB;
    border-radius: 10px;

    width: 233px;
    height: 242px;
    align-items: center;
}

.card .card-img-top{
    border-radius: 10px;
    width: 233px;
    height: 133px;
}

.card .card-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    width: 135px;   
    height: 19px; 
    color: #1A3C40;
}

.card .card-text {
    width: 103px;
    height: 12px; 
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}

.buttonBtn {
    background: #D9D9D9;
    margin-top: -25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 85px;
    height: 21px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
} */

.slide-container{
    max-width: 1120px;
    width: 100%;
  }

  .slide-containere{
    max-width: 1120px;
    width: 100%;
    height: 300px;
  }
.kartu {
    width: 233px;
    height: 242px;
    background-color: #EDE6DB;
    align-self: center;
    border-radius: 10px;
}

.swiper-slide {
  border: none;
}
  .card{
    background-color: #ffffff;
  }

  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-image{
    border-radius: 0px;
    position: relative;
    width: 233px;
    height: 133px;
    background: #FFF;
  }

  .name{
    font-family: 'Rubik';
    font-style: normal;
    line-height: 19px; 
    font-size: 16px;
    font-weight: 500;
    color: #1A3C40;
    padding-top: 20px;
  }

  .description{
    font-size: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    text-align: center;
    width: 103px;
    height: 12px; 
    line-height: 12px;
  }

  .buttone{
    border: none;
    color: black;
    background-color: #D9D9D9;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 85px;
    height: 21px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .buttone:hover{
    background: #797979;
  }
  

  .swipere {
    text-align: center;
    border-radius: 10px;
  }
  
  .footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #417D7A;
  }

  .isif {
    display: grid;
    grid-template-columns: auto auto;
  }

  .teksto {
    padding-top: 50px;
    margin-left: 150px;
  }

  .kunjung {
    padding-top: 50px;
    margin-right: 50px;
  }

  .splide {
    margin-top: 400px;
  }
    /* Add some padding inside the card container */
  .containere {
      padding: 2px 16px;
      border-radius: 1em;
      width: fit-content;
      justify-self: center;
  }
  
  .containere-green {
      background: #28c708;
      background: linear-gradient(to bottom, #63be3f, #28c708);
      color: #fafafa;
      justify-self: center;
  }
  
  .containere-blue {
      background: #56CCF2;
      background: linear-gradient(to bottom, #2F80ED, #56CCF2);
      color: #fafafa;
  }
  
  .containere-red {
      background: #cb2d3e;
      background: linear-gradient(to bottom, #ef473a, #cb2d3e);
      color: #fafafa;
  }
  
  .column {
      float: left;
      width: 33.33%;
  }
    
    /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }

  .cards{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  }

  .services{
    display: flex;
    align-items: center;
  }

  .contenti > *{
    flex: 1 1 100%;
  }
  .contenti h5{
    margin: 16px 0;
  }

  @media (max-width: 900px) {
    .services{
      display: flex;
      flex-direction: column;
    }
  }

.contenti {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  background:#EDE6DB;
  border-radius: 10px;

  margin: 20px;

  width: 257px;
  height: 300px;
}

.contenti-img-top{
  border-radius: 10px;
  width: 257px;
  height: 157px;
}

.contenti-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px; 
  /* width: 135px;   
  height: 19px; */
  color: #1A3C40;
}

.contenti-text {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.contenti-textw {
  text-align: center;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.contenti .hre {
  text-align: center;
  height: 5px;
}

/* button di footer */
.buttonek{
    border: none;
    color: black;
    background-color: #D9D9D9;
    border-radius: 60px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 208px;
    height: 56px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .buttonek:hover{
    background: #797979;
  }

  .cardse{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
  }

  .servicese{
    display: flex;
    align-items: center;
  }

  .contentie > *{
    flex: 1 1 100%;
  }
  .contentie h5{
    margin: 16px 0;
  }

  @media (max-width: 900px) {
    .servicese{
      display: flex;
      flex-direction: column;
    }
  }

  .contentie {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background:#EDE6DB;
    border-radius: 10px;
  
    margin: 50px;
  
    width: 233px;
    height: 242px;
    padding-top: 50px;
  } 
  .contenti-text {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    color: #000000;
  }