@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    height: fit-content;
	  box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.navbar {
    background-color: #1A3C40;
    height: 90px;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
}

.button {
    width: 233px;
    height: 34px;
    background-color: #417D7A;
    border-radius: 20px;
    filter: drop-shadow(0px 2px 2px black);
}
.kirito {
  margin-top: 8%;
  margin-bottom: 8%;
  width: 80%;
  background-color: #EDE6DB;
  border-radius: 2%;
}
.kiritoe {
  width: 90%;
  margin: 5%;
}

.kiritoe h6 {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
}

.konk {
  width: 420px;
  margin-top: 2%;
  margin-left: 2%;
  font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

.kank {
  margin-left: 2%;
  padding-bottom: 1%;
}

.kenk {
  font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 2%;
}
.kunk {
  margin-left: 3%;
  font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}
.kiritod {
  margin-left: 20%;
  margin-top: 8%;
  margin-bottom: 8%;
  width: 80%;
}
.kiritode {
  margin: 5%;
}
.kiri {
  height: 100%;
}
.gamkon {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 420px; 
  height: 240px; 
  border-radius: 10px;
}

.kiri {
  max-height: 100vh;
}

.atkiri {
  background-color: #F5F5F5;
  height: 50%;
}

.atkir {
    margin-left: 3%;
}

.atkir h4 {
  padding-top: 5%;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}

.atkir hr {
  width: 90%;
}

.bawkir {
    overflow: auto;
    background-color: #EDE6DB;
    height: 50%;
}
.button_search {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buttony {
    width: 90%;
}

.buttony_searche {
  height: 41px;
  width: 70%;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  float: left;
  color: #63717f;
  padding-left: 5%;
  border-radius: 6px;
  border: none;
}

.kategori {
  background-color: #417D7A;
  color: white;
  width: 30%;
  height: 41px;
  margin-left: 3%;
  padding-left: 1%;
  border-radius: 6px;
  border: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.pro {
  margin-top: 3%;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.buttonye {
  width: 90%;
}
.buttonyet {
  background-color: #417D7A;
  color: white;
  width: 100%;
  height: 41px;
  border-radius: 6px;
  border: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding-left: 5%;
}

.cari{
  margin-top: 3%;
  border: none;
  color: white;
  background-color: #417D7A;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 91px;
  height: 41px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.buttonyc {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  height: 41px;
  border-radius: 10px;
  padding-left: 5%;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  border: none;
}

.buttonyce {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  height: 180px;
  border-radius: 10px;
  padding-top: 1%;
  padding-left: 5%;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  border: none;
}

.kirim{
  float: right;
  margin-right: 3%;
  margin-bottom: 8%;
  border: none;
  color: white;
  background-color: #417D7A;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 97px;
  height: 41px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.kirim:hover{
  background: #797979;

}

.button_cari {
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 2px;
}

.container-1 {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search{
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;    
  }

.container-1 .magnifier_icon{
    position: absolute;
    /* top: 50%; */
    margin-left: 10px;
    margin-top: 5px;
    /* z-index: 1; */
    /* color: #4f5b66; */
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }

.destination_img {
    width: auto;
    height: auto;
    margin-right: 24px;
    margin-bottom: -12px;
}

.navbar-nav{
    margin-right: -180px;
}
.nav-link {
    font-size: 18px;
    margin-right: 15px;
}

#button {
    background-color: #417D7A;
    border: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}

.text-center {
    text-align: center;
}

#map {
    z-index: 0;
    width: 100%;
}

section {
    min-height: 150px;
}

.destination h3{
  margin-top: 3%;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 30px;
  color: #1A3C40;
  line-height: 30px;
    height: 500px;
}

section {
    min-height: 400px;
}

.destination {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 302px;
    height: 36px;
    left: 550px;
    top: 620px;
    font-weight: 500;
    font-size: 30px;
    color: #1A3C40;
    line-height: 36px;
}

.destination hr {
  margin-top: 0%;
  margin-bottom: 3%;
    width: 250px;
    margin-left: 40%;
    border-top: 4px solid #417D7A;
    border-radius: 2px;
}

/* CARD */
/* .slide-content {
    margin: 0 25px;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: grey;
}

.card {
    position: absolute;
    background:#EDE6DB;
    border-radius: 10px;

    width: 233px;
    height: 242px;
    align-items: center;
}

.card .card-img-top{
    border-radius: 10px;
    width: 233px;
    height: 133px;
}

.card .card-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    width: 135px;   
    height: 19px; 
    color: #1A3C40;
}

.card .card-text {
    width: 103px;
    height: 12px; 
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}

.buttonBtn {
    background: #D9D9D9;
    margin-top: -25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 85px;
    height: 21px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
} */

.slide-container{
    max-width: 1120px;
    width: 100%;
  }

  .slide-containere{
    max-width: 1120px;
    width: 100%;
    height: 300px;
  }

.slide-container {
  z-index: 0;
}
.card-wrapper {
  z-index: 0;
}
.card {
  z-index: 0;
}
.kartu {
    z-index: 0;
    margin-left: 30%;
    margin-right: 30%;
    width: 233px;
    height: 242px;
    background-color: #EDE6DB;
    align-self: center;
    border-radius: 10px;
}

.splide__pagination{
  display:none;
}
.swiper-slide {
  border: none;
}
  .card{
    background-color: #ffffff;
  }

  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-image{
    border-radius: 0px;
    position: relative;
    width: 233px;
    height: 133px;
    background: #FFF;
  }

  .name{
    font-family: 'Rubik';
    font-style: normal;
    line-height: 19px; 
    font-size: 16px;
    font-weight: 500;
    color: #1A3C40;
    padding-top: 20px;
  }

  .description{
    font-size: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    text-align: center;
    width: 103px;
    height: 12px; 
    line-height: 12px;
  }

  .buttone{
    border: none;
    color: black;
    background-color: #D9D9D9;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 85px;
    height: 21px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .buttone:hover{
    background: #797979;
  }
  

  .swipere {
    text-align: center;
    border-radius: 10px;
  }
  
  .footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background-color: #417D7A;
  }

  .isif {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 1%;
  }

  .teksto {
    padding-top: 5%;
    margin-left: 30%;
  }

  .genk {
    float: left;
    padding-top: 3%;
    padding-right: 2%;
  }

  .kunjung {
    padding-top: 50px;
    margin-left: 30%;
  }


   /* width: 100%;
    height: 200px;
    background-color: violet;
  } */

  .splide {
    margin-top: 400px;
  }

  #nbr{
    font-size:62px;
    margin:44px 0 0 0;
  }
  
  #nbre{
      font-size:62px;
      margin:44px 0 0 0;
    }
  
  #nbra{
      font-size:62px;
      margin:44px 0 0 0;
  }
  
  .cardo {
      /* Add shadows to create the "card" effect */
      float: left;
      width: 33.33%;
      box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      text-align: center;
      border-radius: 1em;
      justify-content: center;
      justify-items: center;
  }
    
    /* On mouse-over, add a deeper shadow */
  .cardo:hover {
      box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
  }
    
    /* Add some padding inside the card container */
  .containere {
      padding: 2px 16px;
      border-radius: 1em;
      width: fit-content;
      justify-self: center;
  }
  
  .containere-green {
      background: #28c708;
      background: linear-gradient(to bottom, #63be3f, #28c708);
      color: #fafafa;
      justify-self: center;
  }
  
  .containere-blue {
      background: #56CCF2;
      background: linear-gradient(to bottom, #2F80ED, #56CCF2);
      color: #fafafa;
  }
  
  .containere-red {
      background: #cb2d3e;
      background: linear-gradient(to bottom, #ef473a, #cb2d3e);
      color: #fafafa;
  }
  
  .column {
      float: left;
      width: 33.33%;
  }
    
    /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }

  .cards{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  }

  .cards h2.header{
    font-size: 40px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .services{
    display: flex;
    align-items: center;
  }
 .contenti > *{
    flex: 1 1 100%;
  }
  .contenti h5{
    margin: 16px 0;
  }

  .contenti{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    transition: all .3s ease;
  }
  .contenti .fab{
    font-size: 70px;
    margin: 16px 0;
  }
  .contenti > *{
    flex: 1 1 100%;
  }
  .contenti:hover{
    color: white;
  }
  .contenti:hover a{
    border-color: white;
    background: white;
  }
  .contenti-1:hover{
    border-color: #1DA1F2;
    background: #1DA1F2;
  }
  .contenti-1:hover a{
    color: #1DA1F2;
  }
  .contenti-2:hover{
    border-color: #E1306C;
    background: #E1306C;
  }
  .contenti-2:hover a{
    color: #E1306C;
  }
  .contenti-3:hover{
    border-color: #ff0000;
    background: #ff0000;
  }
  .contenti-3:hover a{
    color: #ff0000;
  }
  .contenti h2{
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .contenti p{
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
  }
  .contenti a{
    margin: 22px 0;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 15px 0;
    border-radius: 25px;
    transition: .3s ease;
  }
  .contenti a:hover{
    border-radius: 4px;
  }
  @media (max-width: 900px) {
    .services{
      display: flex;
      flex-direction: column;
    }
  }

.contenti {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  background:#EDE6DB;
  border-radius: 10px;

  margin: 20px;

  width: 257px;
  height: 300px;
}

.contenti-img-top{
  border-radius: 10px;
  width: 257px;
  height: 157px;
}

.contenti-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px; 
  /* width: 135px;   
  height: 19px; */
  color: #1A3C40;
}

.contenti-text {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.contenti-textw {
  text-align: center;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.contenti hr {
    width: 60%;
    margin-left: 20%;
    border-top: 2px solid #1A3C40;
    color: #1A3C40;
}

.cardse hr {
    text-align: center;
    width: 70%;
    position: relative;
    margin-left: 15%;
    border-top: 4px solid;
    border-color: black;
    border-radius: 2px;
}

/* button di footer */
.buttonek{
    border: none;
    color: black;
    background-color: #D9D9D9;
    border-radius: 60px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 208px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .buttonek:hover{
    background: #797979;
  }

  .cardse{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
  }

  .servicese{
    display: flex;
    align-items: center;
  }

  .contentie > *{
    flex: 1 1 100%;
  }
  .contentie h1{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
    font-size: 90px;
    color: #417D7A;
  }
  .contentie h3{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #1A3C40;
  }

  @media (max-width: 900px) {
    .servicese{
      display: flex;
      flex-direction: column;
    }
  }

  .contentie {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background:#EDE6DB;
    border-radius: 10px;
  
    margin: 50px;
  
    width: 233px;
    height: 242px;
    padding-top: 2%;
  } 
  .contentie-text {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    color: #417D7A;
  }

  .dest {
    max-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .desti {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .horie {
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 4%;
    width: 94%;
    height: 150px;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: white;
  }

  .isik {
    width: 70%;
    height: 100%;
  }

  .judul {
    margin-top: 5%;
    margin-left: 8%;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #1A3C40;
  }

  .isie {
    margin-top: 3%;
    margin-left: 8%;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
  }

  .gakir {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .gambarat {
    width: 100%; 
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url("https://i2.wp.com/blog.tripcetera.com/id/wp-content/uploads/2020/10/pulau-padar.jpg");
  }

  .konteng {
    text-align: center;
    padding-top: 4%;
  }
  .h1berita {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
  }

  .h1kontak {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
  }

  .buttoneg{
    border: none;
    color: black;
    background-color: #D9D9D9;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100px;
    height: 30px;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .buttoneg:hover{
    background: #797979;
  }

  .nanya {
    color: #EDE6DB;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
  }

  .lanjut {
    color: #1A3C40;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
  }

  .kaki {
    color: #000000;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    float: left;
    padding-left: 20%;
    padding-top: 3%;
  }

  .kak {
    float:right;
    padding-top: 2%;
    padding-right: 20%;
  }

  .splide {
    margin-top: 5%;
  }

  .sisa hr {
    margin-top: 2em;
    margin-bottom: 0.6em;
  }

  .profil {
    display: grid;
    grid-template-columns: 27% 73%;
    height: 800px;
    margin: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 9px;
    background-color: #EDE6DB;
  }

  .kirpro {
    width: 100%;
    height: 100%;
  }

  .kanpro{
    height: 100%;
    padding-top: 10%;
  }

  .photo {
    background-image: url("https://i2.wp.com/blog.tripcetera.com/id/wp-content/uploads/2020/10/pulau-padar.jpg");
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin-left: 15%;
  }

  .pohol {
    margin-top: 15%;
    width: 100%;
    height: 40%;
  }

  .kanpro h1 {
    margin-left: 4%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #1A3C40;
  }

  .kanpro hr {
    margin-left: 4%;
    width: 90%;
    height: 3px;
    color: black;
  }

  .usnam {
    width: 27%;
    height: 41px;
    border-radius: 10px;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 2%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    border: none;
  }

  .iden {
    width: 60%;
    height: 41px;
    border-radius: 10px;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 2%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    border: none;
  }

  .label {
    margin-left: 4%;
    color: #1A3C40;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }

  .ganti{
    margin-left: 23.5%;
    margin-top: 88%;
    border: none;
    color: white;
    background-color: #417D7A;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 138px;
    height: 41px;
  
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }

  .konfirmasi {
    float: right;
    margin-right: 4%;
    margin-top: 5%;
    border: none;
    color: white;
    background-color: #417D7A;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 131px;
    height: 41px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;  
  }    
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      padding-top: 15%;
      padding-left: 27%;
    }
    
    /* Modal Content/Box */
    .modal-content {
      padding-top: 2%;
      border-radius: 10px;
      background-color: #EDE6DB;
      width: 64%; /* Could be more or less, depending on screen size */
      height: 80%;
    }

    .kontener h6 {
      margin-bottom: 4%;
      margin-left: 2%;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    }

    .kontener {
      padding-left: 6%;
    }

    .login {
      margin-top: 2%;
      margin-bottom: 2%;
      width: 539px;
      height: 41px;
      border-radius: 10px;
      padding-left: 5%;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      border: none;
    }

    .kirime{
      margin-left: 1%;
      margin-top: 2%;
      border: none;
      color: white;
      background-color: #417D7A;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.3s ease;
      width: 97px;
      height: 41px;
    
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
    }

    .kirime:hover{
      background: #797979;
    }

    .lupa {
      margin-left: 4%;
      color: #000;
      text-decoration: none;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
    }

    .daftar {
      float: right;
      margin-top: 3%;
      margin-right: 7%;
      color: #000;
      text-decoration: none;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
    }
    
    /* The Close Button (x) */
    .close {
      margin-left: 90%; 
      color: #000;
      font-size: 35px;
      font-weight: bold;
      width: fit-content;
    }
    
    .close:hover,
    .close:focus {
      color: red;
      cursor: pointer;
    }
    
    /* Add Zoom Animation */
    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)} 
      to {-webkit-transform: scale(1)}
    }
      
    @keyframes animatezoom {
      from {transform: scale(0)} 
      to {transform: scale(1)}
    }
    

  
input{
    

  display: block;

  width: 90%;

  padding: 15px;

  margin-top: 10px;

  margin-bottom: 30px;

  border: none;

  border-bottom: 2px solid green;

  border-radius: 4px;

  font-family: sans-serif;

  font-size: 16px;

  font-family: inherit;
  
  background-color: violet;

}

label{

  font-family: sans-serif;

}


.modal{

  border-radius: 10px;

  padding: 50px;
  padding-top: 20px;
  padding-bottom: 20px;

  margin-left:  30%;

  margin-right: 30%;

  box-shadow: 1px 1px 5px;

  background-color: white;

  visibility: hidden;

}


.bten3{

  position: relative;

  left: 95%;

  font-size: 20px;

  background-color: violet;

  display: inline;

  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;

  border-radius: 50%;

}

.bten{
  align-content: center;

  color: white;

  width: 10%;

  height: 80px;

  font-size: 18px;

  background-color: #007bff;

  border-radius: 10px;

}

.bten2{

  color: white;

  width: 20%;

  height: 40px;

  background-color: #007bff;

  border: none;

  border-radius: 10px;

  font-size: 20px

}

.bten2:hover{

  background-color: violet;

}

#wrab:target .modal{

  transition: 0.56s;

  transform: translateY(100px);

  position: relative;

  visibility: visible;

}

#wrab:target .bg-color{

  position: absolute;

  top: 0;

  bottom: 0;

  right: 0;

  left: 0;

  background-color: rgb(0, 0, 0,.5);

}

.lupa {
  padding-left: 15px;
}

.daftar {
  text-align: right;
}
